.callout {
  height: 20rem;

  .image {
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 93%;
    height: 67%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

  }

  header {
    position: absolute;
    bottom: 1rem;
    width: 93%;

    h1 {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

form {
  .alert, .success {
    height: 4rem;
  }
}